In [ ]:
#String formating or String Interpolation
a=5
print("value of a is %d" % (a))
print("value of a is {} {}".format(a,2))

In [ ]:
a , b ,c=1,2,3
"a={} , b={} ,c = {}  ".format(a , b , c)

In [ ]:
a , b ,c=1,2,3
"a={2} , b={1} ,c = {0} ".format(c , b , a)   #here Index value used

In [ ]:
name = "Jatin Katyal"
company ="Shuttl"
"name = {name} company={company}".format(name=name , company=company)

In [ ]:
name = "Jatin Katyal"
company ="Shuttl"
"hello i am {name} and i am working in {company}".format(name=name , company=company )

In [ ]:
print(f"name=()")

In [ ]:
print("name={name}")

In [ ]:
print(f"name={name}")

In [ ]:
print(f"name={1+2}")

In [ ]:
print(f"name={10/3}")

In [ ]:
len(r"a\nb")

In [ ]:
for c in r"a\nb":
  print(c)

In [ ]:
"    jatin         ".strip()

In [ ]:
"1 , 2 , 3 , 4, 5".split(",")

In [ ]:
"jatin Katyal".replace("a","z")

In [ ]:
"jatin katyal".count("a")